html, body {
    height: 100%;
    font-size: 100%;
}

body
{
    background-color: #EEE;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header
{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    background-color: #008007;
    height: 10%;
    color: white;
    text-align: center;
    font-family: Arial;
    font-size: 120%;
}
section
{
    width: 100%;
    background-color: #008012;
    margin-left: auto;
    margin-right: auto;
    height: 90%;
}
h1
{
    margin: 0px;
    padding: 0px;
}
p{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
section div {
    display: block;
    height: 23%;
    width: 19%;
    background-color: #FF0;
    margin: .5%;
    float: left;
    cursor: pointer;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: relative;
}
section div.selected {
    background-color: white;
    font-family: Arial;
    font-size: 7em;
    font-weight: bold;
    color: green;
    margin: .5%;
}

section div.selected span {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -25%;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    section div.selected {
        font-size: 4em;
    }
}

@media only screen and (max-width: 600px) {
    section div.selected {
        font-size: 3em;
    }
}

@media only screen and (max-height: 640px) {
    header {
        font-size: 70%;
    }
    section div.selected {
        font-size: 4em;
    }
}

@media only screen and (max-height: 384px) {
    header {
        font-size: 50%;
    }
    section div.selected {
        font-size: 2em;
    }
}

@media only screen and (min-height: 1000px) {
    header {
        font-size: 160%;
    }
    section div.selected {
        font-size: 10em;
    }
}